.smaller-image {
    width: 350px;
    height: auto;
    position: relative;
    left: 450px;
    box-shadow: 10px 10px 10px grey}
body {
    background-color: gainsboro;}
.statue-image {
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 10px grey}
.a1 {float: left;}
.a2 {float: left;}
.a3 {text-align: left;}
div {text-align: center;
    font-family: 'Prata', serif;
    font-size: 15px;}
h1 {text-align: center;
    font-family: 'Prata', serif;
    font-size: 50px;
    color: purple;
    text-shadow: 2px 2px 4px black;}
p {text-align: justify;
    font-size: 17px;
    font-family: 'Prata', serif;}
h2 {font-family: 'Prata', serif;
    font-size: 20px;
    text-decoration: underline;
    color: palevioletred}
h3 {font-family: 'Prata', serif;
    font-size: 18px;
    text-decoration: underline;
    color: palevioletred}
ol {font-family: 'Prata', serif;
    font-size: 17px;}
li {font-family: 'Prata', serif;
    font-size: 17px;}
footer {font-family: 'Prata', serif;
    font-size: 17px;
    text-align: center}
/* unvisited link */
a:link {
    color: gray;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: burlywood;
    text-decoration: none;
}
<link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">