.smaller-image {
    width: 350px;
    height: auto;
    position: relative;
    left: 450px;
}
.statue-image {
    width: 300px;
    height: auto;}
div {text-align: center;
    font-family: 'Prata', serif;
    font-size: 15px;
}
h1 {text-align: center;
    font-family: 'Prata', serif;
    font-size: 50px;}
p {text-align: justify;
    font-size: 17px;
    font-family: 'Prata', serif;}
h2 {font-family: 'Prata', serif;
    font-size: 20px;
    text-decoration: underline;}
h3 {font-family: 'Prata', serif;
    font-size: 18px;
    text-decoration: underline;}
ol {font-family: 'Prata', serif;
    font-size: 17px;
}
li {font-family: 'Prata', serif;
    font-size: 17px;}
footer {font-family: 'Prata', serif;
    font-size: 17px;
    text-align: center}
/* unvisited link */
a:link {
    color: gray;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: burlywood;
    text-decoration: none;
}
<link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">